@font-face {
  font-family: "Iconfont";
  src: url("./iconfont.woff2") format("woff2"),
    url("./iconfont.woff") fromat("woff");
  font-weight: 600;
  font-style: normal;
}
.hello {
  font-family: "Iconfont";
}
